<div style="position: absolute; top: 50%; left: 50%; margin-top: -50px; margin-left: -50px; width: 200px; height: 200px; ">

  <table style="border: 2px solid black;">
    <tbody style="border: 2px solid black;">
      <tr style="border: 2px solid black;" >
        <td style="border: 2px solid black;">Total Number of Books</td>
        <td style="border: 2px solid black;">{{totalBook}}</td>
      </tr>

      <tr style="border: 2px solid black;">
        <td style="border: 2px solid black;">Total Number of Author</td>
        <td style="border: 2px solid black;" >{{totalAuthor}}</td>
      </tr>
    </tbody>
  </table>

</div>
